<section class="post-full-authors">

    <ul class="author-list">
    {{#foreach authors}}
        <li class="author-list-item">
            <div class="author-card">
                <div class="basic-info">
                    <a href="{{url}}">
                        {{#if profile_image}}
                            <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
                        {{else}}
                            <div class="author-profile-image">{{> "icons/avatar"}}</div>
                        {{/if}}
                    </a>
                    <h2>{{name}}</h2>
                </div>
            </div>
        </li>
    {{/foreach}}
    </ul>

</section>
{{/contentFor}}
