<footer class="site-footer outer">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-6 large-4">
                <div class="widget">
                    {{#get "posts" limit="3" order="published_at desc"}}
                        {{#if posts}}
                            <h6 class="widget-title">Recent post</h6>
                                {{#foreach posts}}
                                    <div class="media-object recent-post-ct">
                                        {{#if feature_image}}
                                            <div class="media-object-section">
                                                <a href="{{url}}">
                                                    <div class="thumbnail recent-post-img" style="background: url({{img_url feature_image size="s"}}) no-repeat center center; background-size: cover;"></div>
                                                </a>
                                            </div>
                                        {{/if}}
                                        <div class="media-object-section">
                                            <a href="{{url}}">
                                                <h6 class="recent-post-title">{{title}}</h6>
                                                <p class="recent-post-date">
                                                    <i class="far fa-clock" aria-hidden="true"></i>
                                                    <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">
                                                        {{date format="DD MMMM YYYY"}}
                                                    </time>
                                                </p>
                                            </a>
                                        </div>
                                        <a class="tag" href="{{url}}">{{name}}</a>
                                    </div>
                                {{/foreach}}
                        {{/if}}
                    {{/get}}
                </div>
            </div>
            <div class="cell medium-6 large-4">
                {{#get "tags" limit="all" order="name asc" }}
                    {{#if tags }}
                        <div class="widget no-margin">
                            <h6 class="widget-title">Blog Tags</h6>
                            <ul class="tags horizontal-list" id="tag-list">
                                {{#foreach tags}}
                                    <li>
                                        <a class="tag" href="{{url}}">{{name}}</a>
                                    </li>
                                {{/foreach}}
                            </ul>
                        </div>
                    {{/if}}
                {{/get}}
            </div>

            <div class="cell medium-6 medium-offset-3 large-offset-0 large-4">
                {{!-- TODO: Move this to members
                {{#if @labs.subscribers}}
                    <div class="widget">
                        <h6 class="widget-title">Subscribe</h6>
                            <p class="subscribe-overlay-description">Stay up to date! Get all the latest &amp; greatest posts delivered straight to your inbox.</p>
                            {{> "subscribe_form" }}
                    </div>
                 {{/if}}
                 --}}
                <div class="widget">
                    <h6 class="widget-title">Social networks</h6>
                    <ul class="horizontal-list social-networks">
                        <li>
                            <a href="https://www.youtube.com/[your-user]" target="_blank" rel="noopener" title="Youtube"><i class="fab fa-youtube"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/[your-user]" target="_blank" rel="noopener" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/[your-user]" target="_blank" rel="noopener" title="Twitter"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/[your-user]" target="_blank" rel="noopener" title="Instagram"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/[your-user]" target="_blank" rel="noopener" title="Github"><i class="fab fa-github-alt"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/[your-user]" target="_blank" rel="noopener" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li>
                            <a href="http://cloud.feedly.com/#subscription/feed/{{@site.url}}/rss/" target="_blank" title="RSS" rel="noopener"><i class="fa fa-rss"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="grid-container">
            <section class="copyright">&copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a> - All rights reserved - Powered by <a href="https://ghost.org/" target="blank">Ghost</a>.</section>
        </div>
    </div>
</footer>
