{{!-- Previous/next page links - only displayed on page 2+ --}}

{{!-- This is the post loop - each post will be output using this markup --}}
<div class="grid clearfix" id="grid">
{{#foreach posts}}
    <article class="grid-item">
        {{#if feature_image}}
            <div class="cover-image">
                <a href="{{url}}">
                    <figure class="cover-image-container">
                        <img src="{{feature_image}}?w=450&q=60" />
                    </figure>
                </a>
            </div>
        {{/if}}
        <div class="post-content-body">
            <header class="post-header">
                {{#if tags}}
                    <div class="post-tags clearfix">
                        <i class="fa fa-tags"></i> {{tags}}
                    </div>
                {{/if}}
                <h3 class="post-title"><a href="{{url}}">{{title}}</a></h3>
            </header>
            <section class="post-excerpt">
                <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
            </section>
            <footer class="post-meta clearfix">
                <span class="author">
                    <i class="fa fa-user" aria-hidden="true"></i> {{author}}
                </span>
                <span class="date">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">
                        {{date format="DD MMMM YYYY"}}
                    </time>
                </span>
                <span class="comments">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                    <a href="{{url}}#disqus_thread" data-disqus-identifier="{{comment-id}}">Comments</a>
                </span>
            </footer>
        </div>
    </article>
{{/foreach}}
</div>

{{!-- Previous/next page links - displayed on every page --}}
{{pagination}}


{{#contentFor "js"}}
    <script id="dsq-count-scr" src="//[your-disqus-name].disqus.com/count.js" async></script>
{{/contentFor}}
