{{!< default}}
{{!-- The tag above means: insert everything in this file
   into the {body} of the default.hbs template --}}

{{#contentFor "styles"}}
    <link rel="stylesheet" type="text/css" href="{{asset "styles/post.css"}}"/>
{{/contentFor}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

    <main id="site-main" class="site-main">
        <div class="grid-container post-container">

            <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

            <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">
                <header class="post-full-header">
                    {{#if feature_image}}
                        <figure class="post-full-image">
                            <div class="post-full-image-background"></div>
                            <img src="{{feature_image}}" />
                            <div class="sk-cube-grid" id="spinkit">
                                <div class="sk-cube sk-cube1"></div>
                                <div class="sk-cube sk-cube2"></div>
                                <div class="sk-cube sk-cube3"></div>
                                <div class="sk-cube sk-cube4"></div>
                                <div class="sk-cube sk-cube5"></div>
                                <div class="sk-cube sk-cube6"></div>
                                <div class="sk-cube sk-cube7"></div>
                                <div class="sk-cube sk-cube8"></div>
                                <div class="sk-cube sk-cube9"></div>
                            </div>

                        </figure>
                    {{/if}}

                    <div class="title-wrapper">
                        <h1 class="post-full-title">{{title}}</h1>
                    </div>
                </header>

                <section class="post-full-content">
                    <div class="post-content">
                        {{content}}
                    </div>
                </section>

            </article>

        </div>
    </main>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
    <script type="text/javascript" defer src="{{asset "/scripts/post.js"}}"></script>
{{/contentFor}}
