{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
    <div class="row medium-unstack">
        <main id="content" class="content medium-8 large-9 columns" role="main">
            <article class="{{post_class}}">

                <header class="post-header">
                    {{#if feature_image}}
                        <figure class="image-feature"><img src="{{feature_image}}" /></figure>
                    {{/if}}

                    <div class="post-heading">
                        <h1 class="post-title">{{title}}</h1>
                        <section class="post-meta">
                            <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date
                                    format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}
                        </section>
                    </div>
                </header>

                <section class="post-content">
                    {{content}}
                </section>

                <footer class="post-footer">
                    <section class="share">
                        <p>Share this post: <br/>
                            <a class="share-icon icon-twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                               onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="share-icon icon-facebook"
                               href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                               onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="share-icon icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a class="share-icon icon-reddit" href="https://www.reddit.com/submit?url={{url absolute="true"}}"
                               onclick="window.open(this.href, 'reddit-share', 'width=850,height=530');return false;">
                                <i class="fa fa-reddit-alien"></i>
                            </a>
                        </p>
                    </section>

                </footer>

            </article>


            {{!-- If there are a next post use different classes in <aside> --}}
            {{^next_post}}
            <aside class="read-next row">
            {{else}}
            <aside class="read-next row medium-unstack align-right">
            {{/next_post}}

            {{!-- Links to Previous/Next posts --}}
            {{#prev_post}}
                <div class="medium-6 columns text-left">
                    <a class="read-prev-story" href="{{url}}">{{title}}</a>
                    <a href="{{url}}"><span class="arrow arrow-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></span></a>
                </div>
            {{/prev_post}}
            {{#next_post}}
                <div class="medium-6 columns text-right">
                    <a class="read-next-story" href="{{url}}">{{title}}</a>
                    <a href="{{url}}"><span class="arrow arrow-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a>
                </div>
            {{/next_post}}

            {{!-- Close <aside> --}}
             </aside>

            {{!-- Comments --}}
            <h3>Comments:</h3>

            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                    this.page.url = '{{url absolute="true"}}';  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = '{{comment_id}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };

                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.async = true;
                    s.src = 'https://[your-disqus-name].disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        </main>

        {{!-- Sidebar --}}
        <aside class="sidebar medium-4 large-3 columns show-for-medium">
            {{> "sidebar"}}
        </aside>
    </div>
{{/post}}

{{#contentFor "js"}}
    <script src="{{asset "js/prism.min.js"}}"></script>
{{/contentFor}}
